.hotelListContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hotelListWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.hotelListSearch{
    flex: 1;
    background-color: #febb02;
    border-radius: 10px;
    padding: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}
.hotelListSearchTitle{
    color: #555;
    font-size: 20px;
    font-weight: 600;
}
.hotelListSearchItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.hotelListSearchItem>label{
    font-size: 12px;
}
.hotelListSearchItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}
.hotelListSearchItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
}
.searchItemOptions{
    padding: 10px;
}
.searchItemOptionItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.searchItemOptionItemInput{
    width: 50px;
}
.hotelListSearch>button{
   background-color: #0071c2;
   color: white;
   border: none;
   padding: 10px;
   width: 100%;
   font-weight: 500;
   cursor: pointer;
}
.hotelListResult{
    flex: 3;
}